
.heading{
    background-color: black;
    text-transform: uppercase;
    color: rgb(247, 245, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.logo{
    font-size: 40px;
   color: blueviolet;
   word-spacing: 9cm;
 
}
.pf{
    border-radius: 50%;
    height: 600px;
    width: 600px;
    padding: 10px;
    
}